@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');



.form-inline{

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    max-width: 500px;
    margin: auto;
   
}

.app-name{
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/images/edit.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.app-name:focus{
    width:100%;
}
#formconfig{
    text-align: left;
    position: relative;
    margin-top: 30px;
}

div.input_box_url{
    display: -ms-flexbox;  /* IE10 */
    display:flex;
    width: 100%;
    margin-bottom:15px;
}

.icon{
    font-size: 20px;
    padding:10px;
    background:dodgerblue;
    color:white;
    min-width:50px;
    text-align:center;
}

.input_url{
    width: 520px;
    height: 43px;
    line-height:43px;
    padding-left:10px;
    border:1px solid #888;
    border-radius: 3px;
    vertical-align: top;
    position: relative;
    display: inline-block;
    font-size: 7pt;
    font-weight: 2pt;
    
    
}
.url{
    width: 100%;
    height: inherit;
    line-height: inherit;
    font-size: inherit;
    background: none;
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    margin: 0px;
    padding: 0px;
    outline: none;

}




